html, body {
    text-align: center;
    max-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: #fff;
}

.container-fluid {
    padding: 0;
    font-size: x-large;
    }

.img-div {
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    height: 65%;
}

.form-group{
    margin-bottom: 0rem;
}

.btn {
    border-radius: 0;
}

/* To-do: Responsive Design*/


@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 600px) {

}
