html, body {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}
.title {
    bottom: 0;
    width: 100vw;
    text-align: left;
    position: fixed;
    font-size: 3.5em;
    font-weight: 900;
    padding: 10px;
    background: linear-gradient(transparent, black);
}

.container {
    margin-left: 45%;
}

.img-col {
    display: flex;
    flex-direction: column;
}

.img-row {
    display: flex;
    align-items: flex-start;
    padding: 0;
}

.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    flex-shrink: 0;
}

.thumbnail:hover + .hidden {
    visibility: visible;
}

.hidden {
    position: absolute;
    margin-left: 100px;
    max-width: 100%;
    max-height: 70%;
    display: inline-block;
    visibility: hidden;
    text-align: left;
}

.hidden img {
    max-width: 80%;
    max-height: 80vh;
    overflow; hidden;
    display: block;
}

.tweet-info {
    font-size: 2em;
    text-align: left;
    position: fixed;
    left: 0;
    top: 0;
    font-weight: 900;
    padding: 0.2em;
    width: 45%;
}

.tweet-hour {
    font-size: 4em;
}

.description {
    margin-top: 10%;
    margin-bottom: 20%;
    font-size: 1.2em;
    font-weight: 900;
    padding: 1em;
    text-align: left;
    max-width: 40vw;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}
